.cardInf {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.cardDocumentoLixeira {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    border-radius: 10px;

    width: 100%;
    padding: 15px;
    gap: 20px;
    border-bottom: 2px solid black;

    /* background-color: #0a2a6c; */
    transition: 0.4s ease;
    overflow: hidden;
}

.cardDocumentoLixeira:hover {
    box-shadow: inset 0px 0px 10px 0 rgba(20, 20, 20, 0.2);
}

.cardInformacoesLixeira {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cardInformacoesLixeira img {
    height: 90px;
    width: 80px;
}

.cardInformacoesLixeira p {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
}

.cardAcoesLixeira {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    width: 40%;
}

.lixeiraExcluir {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lixeiraExcluir img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.lixeiraExcluir img:hover {
    transform: scale(1.1);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    font-size: 0.9rem;
    font-weight: 500;
    color: #000;
}

.infHorarioCard {
    margin-bottom: 3px;
}
