.grupoPesquisa {
    position: relative;
}

.grupoPesquisa input { 
    width: 600px;
    height: 35px;
    padding: 15px 5px 0px 5px;
    padding-left: 30px;
    padding-bottom: 9px;
    font-size: 18px;
    outline: none;

    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

.grupoPesquisa img { 
    position: absolute;
    left: -3px;
    top: 2px;
    height: 30px;
    width: 30px;
    transition: 0.2s;
}

.grupoPesquisa input:focus~label {
    color: #0a2a6c;
}

.grupoPesquisa input:focus {
    border-width: 2px;
    border-bottom-color: #0a2a6c;
}

.cabecalho {
    display: flex;
}

.infCabecalho {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-left: 10%;
    width: 100%;
    font-weight: 500;
    color: #7a1a1a;
}

.infUser {
    display: flex;
    align-items: center;
}

.setaImg {
    height: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.2s;
}

.setaImg:hover {
    transform: scale(1.1);
}