.cabecalho {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
    margin-top: 2%;
    font-weight: 500;
    color: #7a2323;
    font-size: 1rem;
}

.infCabecalho {
    display: flex;
    align-items: center;
}

.setaImg {
    height: 1.5rem;
    transition: 0.2s;
}

.setaImg:hover {
    transform: scale(1.1);
}

.campoTipoUsuario {
    width: 80%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.campoTipoUsuario p {
    color: #7A2323;
}