.docAndamento {
    text-align: center;
}

.docNome {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 2%;
}

.tituloRN,
.tituloRF,
.tituloRNF {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tituloRF,
.tituloRNF {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5%;
}

.tituloRN h2 {
    font-size: 30px;
    font-weight: 500;
}

.tituloRF h2 {
    font-size: 30px;
    font-weight: 500;
}

.tituloRNF h2 {
    font-size: 30px;
    font-weight: 500;
}

.listaRN,
.listaRF,
.listaRNF {
    display: flex;
    justify-content: space-between;

    background-color: rgb(88, 129, 163);
    color: white;

    border-radius: 10px;
    padding: 2%;
    margin-top: 2%;
    width: 100%;
}

.listaRF p {
    width: 80%;
    text-align: start;
}

.comentarioDisplay {
    display: flex;
    align-items: center;
    justify-content: end;

    margin-top: 5%;
}