.funcionarioPrincipal {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topFuncionario {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.inputPesquisa {
    width: 320px;
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid #aaa;
    font-size: 1rem;
    background: #fff;
    outline: none;
}

.usuarioFuncionario {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-weight: 500;
    font-size: 1rem;
}

.setaVoltar img {
    cursor: pointer;
    transition: transform 0.2s;
    height: 105px;
    width: 50px;
}

.tituloFuncionario {
    width: 100%;
    color: #142850;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.tabelaFuncionarioContainer {
    width: 100%;
    overflow-x: auto;
}

.tabelaFuncionario {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

.tabelaFuncionario th {
    text-align: left;
    padding-bottom: 12px;
    font-weight: 700;
    color: #222;
    border-bottom: 2px solid #222;
}

.tabelaFuncionario td {
    padding: 16px 8px;
    border-bottom: 1px solid #bdb7b7;
    color: #222;
}

.btnExcluir {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10;
}

.btnEditar {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10;
}

.iconLixeira {
    width: 37px;
    height: 37px;
    transition: 0.2s;
}

.iconLixeira:hover {
    transform: scale(1.1);
}

.iconEditar {
    width: 37px;
    transition: 0.2s;
    height: 37px;
}

.iconEditar:hover {
    transform: scale(1.1);
}   