.botaoFiltraLixeira {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 2%;
}

.botaoFiltrar {
    display: flex;
}

.botaoLimparFiltro {
    width: 120px;
    height: 43px;
    font-size: 1rem;
    border-radius: 0 10px 10px 0;
    padding: 2%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #35486c;
    transition: 0.3s ease;
}

.botaoFiltrar select {
    width: 200px;
    height: 43px;
    border-radius: 10px 0 0 10px;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 3.2%;
    color: white;
    background-color: #001337;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}

.botaoLixeiraList {
    width: 160px;
    height: 43px;
    font-size: 1.1rem;
    border-radius: 10px;

    text-decoration: none;
    border: none;
    cursor: pointer;

    background-color: #5F0A00;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    height: 100%;
    padding-bottom: 4%;
}

.cardDocumento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    border-radius: 10px;

    width: 100%;
    padding: 1% 2% 1% 2%;
    gap: 20px;
    margin-top: 5%;
    border-bottom: 2px solid black;

    transition: 0.4s ease;
    overflow: hidden;
}

.cardDocumento:hover {
    box-shadow: inset 0px 0px 10px 0 rgba(20, 20, 20, 0.2);
    border-radius: 10px 10px 0 0;
}

.cardDocumento img {
    height: 80px;
    width: 70px;
}

.cardInformacoes {
    display: flex;
    flex-direction: column;
    margin-left: 2%;

    width: 100%;
}

.cardInformacoes h1 {
    font-size: 24px;
}

.cardAcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.cardAcoes img {
    width: 50px;
    height: 50px;
    transition: 0.2s ease;
}

.cardAcoes img:hover {
    transform: scale(1.05);
}

.infAcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensagemDoc {
    background-color: aliceblue;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.tituloMensagem {
    font-weight: 600;
    font-size: 20px;
}

.mensagemDoc.show {
    max-height: 130px;
    opacity: 1;
    transform: translateY(0);
    padding: 10px 15px;
    box-shadow: inset 0px 0px 10px 0 rgba(20, 20, 20, 0.2);
}

@media (max-width: 768px) {
    .IcoLixo{
        display: none;
    }
    .botaoLixeiraList {
        padding: 15px;
    }

}