.modal-pdf {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-pdf .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal-pdf .modal-content {
  position: relative;
  width: 80%;
  height: 90%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  z-index: 10000;
  display: flex;
  flex-direction: column;
}

.modal-pdf .close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
}
