body, #root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff;
}

.modal-documento-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
 background: linear-gradient(135deg, #0d0d0d, #001f3f, #0a2a6c);
  z-index: 999;
}

.modal-documento-container {
  background: #f9f1ec;
  border-radius: 16px;
  width: 710px;
  box-shadow: 0 0 24px #0002;
  padding: 32px 24px;
  position: relative;
}

.modalDocumentoHeader {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #222;
  padding-bottom: 8px;
  margin-bottom: 24px;
}

.modalDocumentoVoltar {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 16px;
}

.modalDocumentoTitulo {
  flex: 1;
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-size: 1.6rem;
}

.modalDocumentoDoc {
  text-align: center;
  font-weight: bold;
  margin-bottom: 16px;
}

.modalDocumentoTexto {
  width: 100%;
  height: 140px;
  border-radius: 8px;
  border: none;
  background: #d3d3d3;
  padding: 16px;
  font-size: 1rem;
  resize: none;
  margin-bottom: 32px;
}

.modalDocumentoButtons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.modalDocumentoCancelar {
  background: #d3d3d3;
  color: #222;
  border: none;
  border-radius: 6px;
  padding: 10px 32px;
  font-weight: bold;
  cursor: pointer;
}

.modalDocumentoPublicar{
  background: #1E3A8A;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 32px;
  font-weight: bold;
  cursor: pointer;
}

.modalDocumentoHeader img {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    object-fit: cover; 
}

.textoSalvamento {
    /* font-size: 1.2rem; */
    font-weight: bold;
    margin-bottom: 8px;
}

/* .titleH3 h3 {
    width: 20px;
    height: 20px;
    
} */