.mainSenhaCliente {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #0d0d0d, #001f3f, #0a2a6c);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.userTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userTitulo img {
    width: 191px;
    height: 123px;
}

.campoSenhaCliente {
    width: 480px;
    height: auto;
    min-height: 650px;
    border-radius: 20px;
    padding: 40px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.campoInput {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputSenhaCliente {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.inputSenhaCliente input {
    width: 400px;
    height: 41px;
    padding: 15px 5px 5px 5px;
    font-size: 18px;
    outline: none;

    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

.grupoEmail,
.grupoSenha {
    position: relative;
}

.grupoEmail label,
.grupoSenha label {
    position: absolute;
    left: 5px;
    top: -5px;
    transition: 0.5s;
    color: #9D9D9D;
}

.grupoEmail input:focus~label,
.grupoSenha input:focus~label {
    top: -20px;
    font-size: 14px;
    color: #0a2a6c;
}

.grupoEmail input:focus,
.grupoSenha input:focus {
    border-bottom-color: #0a2a6c;
}

@media (max-width: 768px) {
  .mainSenhaCliente {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    height: 100vh;
    overflow-y: auto;
    background: linear-gradient(135deg, #0d0d0d, #001f3f, #0a2a6c);
  }

  .userTitulo {
    margin-bottom: 25px;
  }

  .userTitulo img {
    width: 140px;
    height: auto;
  }

  .campoSenhaCliente {
    width: 100%;
    max-width: 90%;

    padding: 25px 20px;

  }

  .inputSenhaCliente input {
    width: 100%;
    max-width: 100%;
  }

  .imgLogo {
    display: none;
  }

  body, html {
    overflow-x: hidden;
  }
.botaoLogin {
    width: 264px;

}
}