.listaFeedbacks {
  max-width: 900px;
  margin: 0 auto;
  overflow-y: auto;
  padding-right: 10px;
}

.cardFeedback {
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.cabecalhoFeedback {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nomeFeedback {
  font-size: 1.3rem;
  font-weight: bold;
  color: #222;
}

.dataFeedback {
  font-size: 1.1rem;
  font-weight: bold;
  color: #222;
}

.iconeLixeira {
  margin-left: 15px;
  cursor: pointer;
}

.lixeiraImg {
  width: 28px;
  height: 28px;
}

.mensagemFeedback {
  margin: 10px 0 0 0;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  text-align: start;
}

.linhaFeedback {
  border: none;
  border-bottom: 2px solid #222a3f;
  margin-top: 18px;
}